<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register for a league</title>
</head>
<body>
    <from action ="/admin/add-league" method ="POST">
    <table>
        <tr>
            <td>Player ID</td>
            <td><input type ="text" name = "playerID"></td>
        </tr>
        <tr>
            <td>Player Name</td>
            <td><input type ="text" name = "player Name"></td>
        </tr>
        <tr>
            <td>League ID</td>
            <td><input type ="text" name = "League ID"></td>
        </tr>
        <tr>
            <td><input type="SUBMIT" value= "Register to another League"></td>
        </tr>
    </table></from>
</body>
</html>
