<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
       table,th,td{
           border: 2px solid grey;
            }
            th,td{
                padding: 5px;
            }
            th{
                text-align: middle;
            }

    </style>
    </head>
        <body>
            <header>
                <nav>
                    <ul>
                        <li><a href ="/homepage">Home</a></li>
                    </ul>
                </nav>
            </header>
            <main>
                <form action ="/display-league" method ="POST">
                <h2>Display Leagues</h2>
                <table style ="width : 55%">
                <tr>
                    <th>
                        League Name
                    </th>
                </tr>
            <tr>
                <th>
                    <td>AMERICAN SINGER</td>
                </th>
            </tr>
        <tr>
            <th>
                <td>INDIAN PHENOMENON</td>
            </th>
        </tr>
    <tr>
        <th>
            <td>ICON PASSIONATE</td>
        </th>
    </tr>
</table>
            </form>
            </main>
        </body>
    </html>