<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!-- <bean name="theCoach" class="org.example.model.SwimmingCoach"/>
<bean name="theCD" class="org.example.model.InternationalCD">
<constructor-arg index="0" value="100"/>
<constructor-arg index="1" value="Titanic"/>
<constructor-arg index="2" value="French"/>
</bean> -->
<!-- <bean name="theInterface" class="org.example.main.SpecialEditionCD">
<constructor-arg index="0" value="500"/>
<constructor-arg index="1" value="Spanish"/>
<constructor-arg index="2" value="Burma"/>
</bean> -->
<!-- <bean name="theCoach" class="org.example.model.CricketCoach">
	<property name="fortuneService" ref="myFortuneService"/>
	</bean>
	<bean name="myFortuneService"
		class="org.example.model.HappyFortuneService"/> -->

 <bean name="theCustomer" class="org.example.model.Customer">
	 
	 <property name="Customer_Id" value="10"/>
	 <property name="Customer_Name" value="John Doe"/>
	 <property name="address" ref="theAddress"/>
	 <property name="branch" ref="theBranch"/>
	 </bean> 
	 <bean name="theAddress" class="org.example.model.Address">
	 <constructor-arg name="A_Line1" value="Telengana"/>
	 <constructor-arg name="A_Line2" value="India"/>
	 <constructor-arg name="City" value="Hyderabad"/>
	 <constructor-arg name="zip" value="56001"/>
	 </bean>
	 
	 <bean name="theBranch" class="org.example.model.Branch">
	 <property name="branchId" value="10"/>
	 <property name="branchName" value="branch-10"/>
	 <property name="branchAddress" value="address-10"/>
	 </bean>
</beans>
